
name: ci

on:
  - push
  - pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Determine Go version
        id: get-go-version
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "${{ steps.get-go-version.outputs.go-version }}"
      - name: Checkout out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: '0'
      - name: Determine go cache key
        id: go-cache-key
        run: |
            echo "key=${{ runner.os }}-go-${{ hashFiles('**/go.sum', './Makefile') }}" >> "$GITHUB_OUTPUT"
            echo "restore-key=${{ runner.os }}-go" >> "$GITHUB_OUTPUT"
      - name: Determine Go cache paths
        id: go-cache-paths
        run: |
          echo "go-build=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-mod=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"
          echo "go-bin=$(go env GOPATH)/bin" >> "$GITHUB_OUTPUT"
      - name: Cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ${{ steps.go-cache-paths.outputs.go-mod }}
            ${{ steps.go-cache-paths.outputs.go-bin }}
            ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ steps.go-cache-key.outputs.key }}
          restore-keys: |
            ${{ steps.go-cache-key.outputs.restore-key }}
      - name: Install tools
        run: |
          go mod download
          make tools
      - name: Build
        run: |
          go build ./...
      - name: Test
        run: |
          make cover-html
      - name: Bench
        run: |
          make bench
      - name: Lint
        run: |
          make lint
      - name: Gen diff
        run: |
          go mod tidy
          make gen
          git diff --exit-code
          git status --porcelain
          test -z "$(git status --porcelain)"
      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: coverage.out
          name: Coverage-report
      - name: Display coverage report
        run: go tool cover -func=coverage.out
